/vendor/
.env
backup.sh
restore.sh

storage/uploads/*

!storage/uploads/.gitkeep

phpunit.xml

init_triggers.sql
init.sql
init_triggers_V1.sql

backups
restores

###> il faut enlever le suivi sur github sinon il écrase le .env de prod###
docker-compose.yml