<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="JWT_SECRET" value="qkdfjlqgjlqgjldk2345_fklqjglq6678"/>
        <env name="SHARE_SECRET" value="test_share_secret_1234"/>
        <env name="KEY_ENCRYPTION_KEY" value="0123456789abcdef0123456789abcdef"/>
        <env name="APP_PUBLIC_BASE_URL" value="http://localhost:9083"/>
    </php>
</phpunit>