/* Global */
body {
    margin: 0;
    padding: 0;
    background: #E5E5E5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    color: #1a1a1a;
}

/* Navbar */
.navbar {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
}

.navbar a {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 500;
}

.nav-left {
    font-size: 20px;
    font-weight: 700;
}

/* Hero Section */
.hero {
    text-align: center;
    margin-top: 40px;
}

.hero h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero p {
    color: #555;
}

/* File Section */
.file-section {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.file-card {
    width: 380px;
    background: #fff;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
}

.file-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/************** share.php *******************/
.file-content h3 {
    margin: 0;
    font-size: 20px;
    color: #980b0b !important;
}

.file-content p {
    color: #777;
    font-size: 14px;
}

.file-info {
    border-top: 1px solid #ececec;
    /* margin-top: 15px;
    padding-top: 10px; */
    color: #555;
    /* font-size: 14px; */
}

.file-actions {
    border-top: 1px solid #ececec;
    margin-top: 15px;
    padding-top: 15px;
    display: flex;
    gap: 20px;
}

.btn-link {
    text-decoration: none;
    font-weight: 600;
    color: #980b0b;
    cursor: pointer;
    transition: 0.3s;
}


/* #versions-info-only,
#versions-box,
#version-picker-wrap{
    display: none;
} */

.btn-link:hover {
    text-decoration: underline;
}

#img-download{
    width: 10em;
    height: 10em;
}

#error-box{
    display: none;
    border-radius: 6px; 
    background: #ffe5e5; 
    color: #980b0b;
}

#img-logo{
    width: 120px;
    height: 120px;
}

/* Files header */
.files-header {
    text-align: center;
    margin-bottom: 80px;
}

.files-header h2 {
    font-size: 28px;
}

.files-header p {
    color: #555;
}


/* Buttons */

.button-primary {
    background-color: #980b0b;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #980b0b;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: linear 0.3s;
}

.button-primary:hover {
    filter: brightness(85%);
}

.button-secondary {
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border: 2px solid #980b0b;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button-secondary:hover {
    background-color: #980b0b;
    color: #fff;
}


/* Features Table */
.features-table {
    width: 60%;
    margin: 0 auto 60px auto;
    border-collapse: collapse;
}

.features-table th, .features-table td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

.features-table th {
    background-color: #F2F2F7;
    font-weight: 600;
}

.table-container {
    background-color: #F2F2F7;
}

.table-parameters {    
    display: flex;
    justify-content: center;
    align-items: space-around;
    overflow-x: auto;
    gap: 40px;
}

.table-container table {
    min-width: 300px;
    border-collapse: collapse;
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.search-container input {
    width: 100%;
    padding: 10px 15px 10px 40px; /* espace à gauche pour l'icone */
    border: 1px solid #444;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    transition: border-color .2s ease;
}

.option-container {
    position: relative;
    width: 100%;
    max-width: 70px;
}

.option-container select {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #444;
    border-radius: 8px;
    appearance: none;
    color: #757575;
    outline: none;
    font-size: 14px;
    transition: border-color .2s ease;
}

.search-container input:focus {
    border-color: #777;
}

.search-container .search-icon {
    position: absolute;
    left: 10px;
    top: 45%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 18px;
    pointer-events: none; /* clique possible sur l'input */
}

.option-container .option-ico {
    position: absolute;
    right: 10px;
    top: 45%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 18px;
    pointer-events: none; /* clique possible sur l'input */
}

.barre-info {
    margin-left: auto;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 600;
    z-index: 1;
}